# Binary directory
*build*

# VSCode
.vscode/.cortex-debug*

#CLion
.idea/*

#MDK-ARM
**MDK-ARM**
*DebugConfig*
*RTE*
*uvguix*


*.o
*.d
*.hex
*.bin
*.elf
*.axf
*.crf
*.map
*.htm
*.lnp
*.sct
*.lst
*.dep
*.scvd
*.bat
*.Bak
*.__i
MDK-ARM/c_imu/c_imu_c_imu.dep
MDK-ARM/c_imu/c_imu.axf
MDK-ARM/c_imu/c_imu.build_log.htm
MDK-ARM/c_imu/c_imu.hex
MDK-ARM/c_imu/c_imu.htm
MDK-ARM/c_imu/c_imu.lnp
MDK-ARM/c_imu/c_imu.map
MDK-ARM/c_imu/gpio.crf
MDK-ARM/c_imu/gpio.d
MDK-ARM/c_imu/gpio.o
MDK-ARM/c_imu/main.crf
MDK-ARM/c_imu/main.d
MDK-ARM/c_imu/main.o
MDK-ARM/c_imu/stm32f4xx_hal_cortex.crf
MDK-ARM/c_imu/stm32f4xx_hal_cortex.d
MDK-ARM/c_imu/stm32f4xx_hal_cortex.o
MDK-ARM/c_imu/stm32f4xx_hal_dma_ex.crf
MDK-ARM/c_imu/stm32f4xx_hal_dma_ex.d
MDK-ARM/c_imu/stm32f4xx_hal_dma_ex.o
MDK-ARM/c_imu/stm32f4xx_hal_dma.crf
MDK-ARM/c_imu/stm32f4xx_hal_dma.d
MDK-ARM/c_imu/stm32f4xx_hal_dma.o
MDK-ARM/c_imu/stm32f4xx_hal_exti.crf
MDK-ARM/c_imu/stm32f4xx_hal_exti.d
MDK-ARM/c_imu/stm32f4xx_hal_exti.o
MDK-ARM/c_imu/stm32f4xx_hal_flash_ex.crf
MDK-ARM/c_imu/stm32f4xx_hal_flash_ex.d
MDK-ARM/c_imu/stm32f4xx_hal_flash_ex.o
MDK-ARM/c_imu/stm32f4xx_hal_flash_ramfunc.crf
MDK-ARM/c_imu/stm32f4xx_hal_flash_ramfunc.d
MDK-ARM/c_imu/stm32f4xx_hal_flash_ramfunc.o
MDK-ARM/c_imu/stm32f4xx_hal_flash.crf
MDK-ARM/c_imu/stm32f4xx_hal_flash.d
MDK-ARM/c_imu/stm32f4xx_hal_flash.o
MDK-ARM/c_imu/stm32f4xx_hal_gpio.crf
MDK-ARM/c_imu/stm32f4xx_hal_gpio.d
MDK-ARM/c_imu/stm32f4xx_hal_gpio.o
MDK-ARM/c_imu/stm32f4xx_hal_msp.crf
MDK-ARM/c_imu/stm32f4xx_hal_msp.d
MDK-ARM/c_imu/stm32f4xx_hal_msp.o
MDK-ARM/c_imu/stm32f4xx_hal_pwr_ex.crf
MDK-ARM/c_imu/stm32f4xx_hal_pwr_ex.d
MDK-ARM/c_imu/stm32f4xx_hal_pwr_ex.o
MDK-ARM/c_imu/stm32f4xx_hal_pwr.crf
MDK-ARM/c_imu/stm32f4xx_hal_pwr.d
MDK-ARM/c_imu/stm32f4xx_hal_pwr.o
MDK-ARM/c_imu/stm32f4xx_hal_rcc_ex.crf
MDK-ARM/c_imu/stm32f4xx_hal_rcc_ex.d
MDK-ARM/c_imu/stm32f4xx_hal_rcc_ex.o
MDK-ARM/c_imu/stm32f4xx_hal_rcc.crf
MDK-ARM/c_imu/stm32f4xx_hal_rcc.d
MDK-ARM/c_imu/stm32f4xx_hal_rcc.o
MDK-ARM/c_imu/stm32f4xx_hal_tim_ex.crf
MDK-ARM/c_imu/stm32f4xx_hal_tim_ex.d
MDK-ARM/c_imu/stm32f4xx_hal_tim_ex.o
MDK-ARM/c_imu/stm32f4xx_hal_tim.crf
MDK-ARM/c_imu/stm32f4xx_hal_tim.d
MDK-ARM/c_imu/stm32f4xx_hal_tim.o
MDK-ARM/c_imu/stm32f4xx_hal.crf
MDK-ARM/c_imu/stm32f4xx_hal.d
MDK-ARM/c_imu/stm32f4xx_hal.o
MDK-ARM/c_imu/stm32f4xx_it.crf
MDK-ARM/c_imu/stm32f4xx_it.d
MDK-ARM/c_imu/stm32f4xx_it.o
MDK-ARM/c_imu/system_stm32f4xx.crf
MDK-ARM/c_imu/system_stm32f4xx.d
MDK-ARM/c_imu/system_stm32f4xx.o
MDK-ARM/c_imu/tim.crf
MDK-ARM/c_imu/tim.d
MDK-ARM/c_imu/tim.o
MDK-ARM/c_imu.uvguix.hsh
MDK-ARM/c_imu/c_imu_c_imu.dep
MDK-ARM/c_imu/c_imu.axf
MDK-ARM/c_imu/c_imu.build_log.htm
MDK-ARM/c_imu/c_imu.hex
MDK-ARM/c_imu/c_imu.htm
MDK-ARM/c_imu/c_imu.lnp
MDK-ARM/c_imu/c_imu.map
MDK-ARM/c_imu/gpio.crf
MDK-ARM/c_imu/gpio.d
MDK-ARM/c_imu/gpio.o
MDK-ARM/c_imu/main.crf
MDK-ARM/c_imu/main.d
MDK-ARM/c_imu/main.o
MDK-ARM/c_imu/stm32f4xx_hal_cortex.crf
MDK-ARM/c_imu/stm32f4xx_hal_cortex.d
MDK-ARM/c_imu/stm32f4xx_hal_cortex.o
MDK-ARM/c_imu/stm32f4xx_hal_dma_ex.crf
MDK-ARM/c_imu/stm32f4xx_hal_dma_ex.d
MDK-ARM/c_imu/stm32f4xx_hal_dma_ex.o
MDK-ARM/c_imu/stm32f4xx_hal_dma.crf
MDK-ARM/c_imu/stm32f4xx_hal_dma.d
MDK-ARM/c_imu/stm32f4xx_hal_dma.o
MDK-ARM/c_imu/stm32f4xx_hal_exti.crf
MDK-ARM/c_imu/stm32f4xx_hal_exti.d
MDK-ARM/c_imu/stm32f4xx_hal_exti.o
MDK-ARM/c_imu/stm32f4xx_hal_flash_ex.crf
MDK-ARM/c_imu/stm32f4xx_hal_flash_ex.d
MDK-ARM/c_imu/stm32f4xx_hal_flash_ex.o
MDK-ARM/c_imu/stm32f4xx_hal_flash_ramfunc.crf
MDK-ARM/c_imu/stm32f4xx_hal_flash_ramfunc.d
MDK-ARM/c_imu/stm32f4xx_hal_flash_ramfunc.o
MDK-ARM/c_imu/stm32f4xx_hal_flash.crf
MDK-ARM/c_imu/stm32f4xx_hal_flash.d
MDK-ARM/c_imu/stm32f4xx_hal_flash.o
MDK-ARM/c_imu/stm32f4xx_hal_gpio.crf
MDK-ARM/c_imu/stm32f4xx_hal_gpio.d
MDK-ARM/c_imu/stm32f4xx_hal_gpio.o
MDK-ARM/c_imu/stm32f4xx_hal_msp.crf
MDK-ARM/c_imu/stm32f4xx_hal_msp.d
MDK-ARM/c_imu/stm32f4xx_hal_msp.o
MDK-ARM/c_imu/stm32f4xx_hal_pwr_ex.crf
MDK-ARM/c_imu/stm32f4xx_hal_pwr_ex.d
MDK-ARM/c_imu/stm32f4xx_hal_pwr_ex.o
MDK-ARM/c_imu/stm32f4xx_hal_pwr.crf
MDK-ARM/c_imu/stm32f4xx_hal_pwr.d
MDK-ARM/c_imu/stm32f4xx_hal_pwr.o
MDK-ARM/c_imu/stm32f4xx_hal_rcc_ex.crf
MDK-ARM/c_imu/stm32f4xx_hal_rcc_ex.d
MDK-ARM/c_imu/stm32f4xx_hal_rcc_ex.o
MDK-ARM/c_imu/stm32f4xx_hal_rcc.crf
MDK-ARM/c_imu/stm32f4xx_hal_rcc.d
MDK-ARM/c_imu/stm32f4xx_hal_rcc.o
MDK-ARM/c_imu/stm32f4xx_hal_tim_ex.crf
MDK-ARM/c_imu/stm32f4xx_hal_tim_ex.d
MDK-ARM/c_imu/stm32f4xx_hal_tim_ex.o
MDK-ARM/c_imu/stm32f4xx_hal_tim.crf
MDK-ARM/c_imu/stm32f4xx_hal_tim.d
MDK-ARM/c_imu/stm32f4xx_hal_tim.o
MDK-ARM/c_imu/stm32f4xx_hal.crf
MDK-ARM/c_imu/stm32f4xx_hal.d
MDK-ARM/c_imu/stm32f4xx_hal.o
MDK-ARM/c_imu/stm32f4xx_it.crf
MDK-ARM/c_imu/stm32f4xx_it.d
MDK-ARM/c_imu/stm32f4xx_it.o
MDK-ARM/c_imu/system_stm32f4xx.crf
MDK-ARM/c_imu/system_stm32f4xx.d
MDK-ARM/c_imu/system_stm32f4xx.o
MDK-ARM/c_imu/tim.crf
MDK-ARM/c_imu/tim.d
MDK-ARM/c_imu/tim.o
